
h1 {
    text-align: center;
}

#images {
    justify-content: center;
    display: flex;

}
#images img {
    display: flex;
    flex-flow: wrap;
    height: 200px;
    margin: 10px;
}

footer {
    margin-bottom: 0;
    margin-top: 250px;
}

footer h6 {
    margin-bottom: 0;
}