@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Permanent+Marker');

body {
    background-image: url("../img/chuttersnap-354308-unsplash.jpg");
    background-size: auto 100%;
}

img {
    position: relative;
    border-top: 1px solid rgb(236, 234, 226);
    border-left: 1px solid rgb(236, 234, 226);
    box-shadow: 1px 1px 2px #8b8b8b;
}

#images div {
    cursor: pointer;
}

#results img {
    margin: 10px 10px 0 10px;
    height: 200px;         
}

h3.sharpieMarker {
    font-family: 'Permanent Marker', cursive;
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: red;
}

#imageContainer {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 9px #221100;
    border-radius: 3px;
}

#votingImgContainer {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 9px #221100;
    border-radius: 3px;
}

#votingImgContainer h3{
    font-family: 'Permanent Marker', cursive;
    padding-left: 20px;
}

.header img {
    border: none;
    box-shadow: none;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

h2 {
    text-align: center;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0 5em 1em 5em;
    background-color: rgba(128, 128, 128, 0.5);
}

#progress {
    font-family: 'IBM Plex Mono', monospace;
    margin-left: 25%;
    width: 50%;
    background-color: rgba(133, 131, 131, 0.3);
}

#bar {
    color: white;   
    height: 20px;
    background-color: rgb(185, 83, 0);
}


